@font-face {
	font-family:"Adobe Song Std L";
	font-style:normal;
	font-weight:300;
	src : url("../../font/AdobeSongStd-Light.otf");
}
@font-face {
	font-family:STXingkai;
	font-style:normal;
	font-weight:normal;
	src : url("../../font/STXingkai.TTF");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.基本文本框架 {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#6387c5;
	font-family:STXingkai, serif;
	font-size:1200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#e3d200;
	font-family:"Adobe Song Std L", serif;
	font-size:600px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	color:#65a01f;
	font-family:"Adobe Song Std L", serif;
	font-size:360px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-4 {
	color:#15599f;
	font-family:"Adobe Song Std L", serif;
	font-size:360px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-5 {
	color:#7758a3;
	font-family:"Adobe Song Std L", serif;
	font-size:360px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-6 {
	color:#e9528e;
	font-family:"Adobe Song Std L", serif;
	font-size:360px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-7 {
	color:#15599f;
	font-family:"Adobe Song Std L", serif;
	font-size:480px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-8 {
	color:#0091ad;
	font-family:"Adobe Song Std L", serif;
	font-size:360px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-9 {
	color:#7bac1a;
	font-family:"Adobe Song Std L", serif;
	font-size:360px;
	font-style:normal;
	font-weight:300;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:900.00px;
}
#_idContainer001 {
	-ms-transform:translate(0.000px,99.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,99.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:49.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,99.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,99.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:900.00px;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,148.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,148.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:502.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,148.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,148.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:683.00px;
}
#_idContainer003 {
	-ms-transform:translate(683.000px,148.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(683.000px,148.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:504.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(683.000px,148.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(683.000px,148.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:217.00px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,650.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,650.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,650.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,650.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:900.00px;
}
#_idContainer005 {
	-ms-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:900.00px;
}
#_idContainer006 {
	-ms-transform:translate(0.000px,649.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,649.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,649.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,649.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:900.00px;
}
#_idContainer007 {
	-ms-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAABJCAYAAAADkKsvAAAACXBIWXMAABcRAAAXEQHKJvM/AAAA/klEQVR4Xu3VMQ2AUBQEQT6hwj+C0ISAhwRaNpmpr93cmpkNaNq/BsB/Hc91umBouj0whAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChrA1M18b4Kc8MIS9EJsJ3x63DsMAAAAASUVORK5CYII=);
	background-repeat:no-repeat;
	background-size:cover;
	height:35.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.00px;
}
#_idContainer008 {
	-ms-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAABJCAYAAAADkKsvAAAACXBIWXMAABcRAAAXEQHKJvM/AAABbElEQVR4Xu3bMWqVURRG0fNCOjEEEURSCGnSZA6Zg3Xmk7k4AAu71wcLC0s7E8EU6UKq3yHcV7zCDWvVX7s5cOHutm0boOlkNQD+X6ePDzsnGJr2LjCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCTlcDDnP/83b+Pp+vZszM1adfc3nxdTXjAAI+km/31/Plx4fVjJm5+zxzebFacYjdw+/ZViPWHp9u5uX1zWrGzLw7+zPnb7+vZqztXeAj+fh+v5rA0XnEgjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCE7bbNd2CocoEh7B9ESR70dfGRYgAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:35.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.00px;
}
#_idContainer009 {
	-ms-transform:translate(17.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.00px;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAABJCAYAAAADkKsvAAAACXBIWXMAABcRAAAXEQHKJvM/AAAA/klEQVR4Xu3VMRGAQBAEQR5vWMIfbnBxSPiUqeqON53aNTMH0HTuBsB/rfe6XTA0PR4YwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ9iamd0G+CkPDGEfpDYJ7T1FSKUAAAAASUVORK5CYII=);
	background-repeat:no-repeat;
	background-size:cover;
	height:35.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.00px;
}
#_idContainer011 {
	-ms-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAABJCAYAAAADkKsvAAAACXBIWXMAABcRAAAXEQHKJvM/AAABQUlEQVR4Xu3YMUpDURRF0R8NiYWFghNwGo7LGTkSR2FtJZZCwECQ5xBe+3f+WvVpNxfuboyxAE03swGwXrvl7dUJhqZ3FxjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxh+9ngWh3Ph+Xu63E2I+Dn+Xs2uVqbDfj2fFiOH0+zGQUC3p7L/e9yevmczWDVthvw/m+5PJxmM1g1TywIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ9hujDHbACvlAkPYPz87GG6KvuOGAAAAAElFTkSuQmCC);
	background-repeat:no-repeat;
	background-size:cover;
	height:35.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.00px;
}
#_idContainer012 {
	-ms-transform:translate(156.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(156.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(156.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(156.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.00px;
}
#_idContainer013 {
	-ms-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAABJCAYAAAADkKsvAAAACXBIWXMAABcRAAAXEQHKJvM/AAAA/klEQVR4Xu3VMQ2AUBQEQT5BKsaQgijqhwRaNpmpr93cmpkNaNq/BsB/Hc91umBouj0whAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChjABQ5iAIUzAECZgCBMwhAkYwgQMYQKGMAFDmIAhTMAQJmAIEzCECRjCBAxhAoYwAUOYgCFMwBAmYAgTMIQJGMIEDGEChrA1M18b4Kc8MIS9XJ8KR94p+JUAAAAASUVORK5CYII=);
	background-repeat:no-repeat;
	background-size:cover;
	height:35.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.00px;
}
#_idContainer014 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.00px;
}
#_idContainer015 {
	-ms-transform:translate(295.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(295.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(295.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(295.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.00px;
}
#_idContainer016 {
	-ms-transform:translate(390.000px,98.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(390.000px,98.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA2EAAABJCAYAAAC0Gy75AAAACXBIWXMAABcRAAAXEQHKJvM/AAAB6klEQVR4Xu3cMVFDURRF0RsmAuiwgQPQkQpJSKCKj8hJh4OHhJfiz55hslZ9DOzmnNZaAwAAQONlNwAAAOA4IgwAACAkwgAAAEIiDAAAICTCAAAAQiIMAAAgJMIAAABCIgwAACAkwgAAAEIiDAAAICTCAAAAQiIMAAAgJMIAAABCIgwAACAkwgAAAEIiDAAAICTCAAAAQiIMAAAgJMIAAABCIgwAACAkwgAAAEIiDAAAICTCAAAAQiIMAAAgJMIAAABCIgwAACAkwgAAAEIiDAAAICTCAAAAQiIMAAAgJMIAAABCIgwAACAkwgAAAEIiDAAAICTCAAAAQiIMAAAgJMIAAABCIgwAACAkwgAAAEIiDAAAICTCAAAAQiIMAAAgJMIAAABCIgwAACAkwgAAAEIiDAAAICTCAAAAQiIMAAAgJMIAAABCIgwAACAkwgAAAEIiDAAAICTCAAAAQiIMAAAgJMIAAABCIgwAACAkwgAAAEIiDAAAIHTeDXjc2+XnfWa+dzsAAPhP7tevz92Gx4mwY73OzMduBAAAPC8RdqzfmbntRgAAwPM6rbV2GwAAAA7imAMAACAkwgAAAEIiDAAAICTCAAAAQiIMAAAgJMIAAABCIgwAACAkwgAAAEIiDAAAICTCAAAAQn+EMwyRslhAiQAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:35.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(390.000px,98.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(390.000px,98.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:415.00px;
}
#_idContainer017 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAU8AAABuCAYAAACnSpHVAAAACXBIWXMAABcRAAAXEQHKJvM/AAAB10lEQVR4Xu3XMUpDQRhG0UkwKLESGyu3oZ3LdxVa2AUi2hiSIsQFvDzE2+ac8v+mvjCL3XacBgD/svzrAQBT4gkQiCdAIJ4AgXgCBFdzw+vmaWz267kZ4CK8PLyNu+uPyX02npv9erz/3M7NABfh+bg6e/dtBwjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AYLFbjtO54avw+M4HFfnJoCLcX/zOVbL78l9Np4AzPNtBwjEEyAQT4BAPAGCX9RAGoSJUdKtAAAAAElFTkSuQmCC);
	background-repeat:no-repeat;
	background-size:cover;
	height:53.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.00px;
}
#_idContainer018 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAU8AAABuCAYAAACnSpHVAAAACXBIWXMAABcRAAAXEQHKJvM/AAAB10lEQVR4Xu3XwU0CURhG0dEAO0h0RWzC2AxbKrAQm3FnIySsaMFk7EALYF4Md8s5y/+b2d7kPXy/f/xOANzk8b8PALgmngCBeAIE4gkQiCdAsBoNn69v02W7G80Ad+F4Pk37eb66D+N52e6mr6fn0QxwFw7rzeLdsx0gEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIxBMgEE+AQDwBAvEECMQTIBBPgEA8AQLxBAjEEyAQT4BAPAEC8QQIVqPheD5Nh/VmNAPchZefefE+jOd+Xv4BAM92gEQ8AQLxBAjEEyD4A0MsEkpTKCdOAAAAAElFTkSuQmCC);
	background-repeat:no-repeat;
	background-size:cover;
	height:53.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.00px;
}
#_idContainer019 {
	-ms-transform:translate(708.500px,497.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(708.500px,497.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:53.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(708.500px,497.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(708.500px,497.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.00px;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAU8AAABuCAYAAACnSpHVAAAACXBIWXMAABcRAAAXEQHKJvM/AAAB0UlEQVR4Xu3XsW3CUBhGUSeixD1FapAQm2YRMgB7UDJCRAUTJAPgpyi39Tnl/9ntld7b9HX/mQD4l/e/PgDglXgCBOIJEIgnQCCeAMFmNHzebtPu8RzNAKtwPh2ny3Z+uQ/juXs8p4/v+2gGWIX5sF+8e7YDBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AwWY0nE/HaT7sRzPAKlznefE+jOdlu/wDAJ7tAIl4AgTiCRCIJ0DwC3dpEMcymcDJAAAAAElFTkSuQmCC);
	background-repeat:no-repeat;
	background-size:cover;
	height:53.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.00px;
}
#_idContainer021 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAU8AAABuCAYAAACnSpHVAAAACXBIWXMAABcRAAAXEQHKJvM/AAAB2ElEQVR4Xu3XsU1CURiG4ashJBQUhls4hGPQGLZxJBdgA+IUDEBCLxPoAHBifNv7POX/nfpNztPnx/FnAuBfnv96AMA98QQIxBMgEE+AQDwBgtVoeHv/mrbzZTQDLML5dJhu193dfRjP7XyZXl6PoxlgEdab/cO7bztAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQiCdAIJ4AgXgCBOIJEIgnQCCeAIF4AgTiCRCIJ0AgngCBeAIE4gkQrEbD+XSY1pv9aAZYhO/r/PA+jOftuhtNAIvn2w4QiCdAIJ4AgXgCBL819RHYFnbb6wAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:53.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.00px;
}
#_idContainer022 {
	-ms-transform:translate(708.500px,564.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(708.500px,564.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:53.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(708.500px,564.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(708.500px,564.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:161.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
